doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

block content
  h1= title
  p Welcome to #{title}
  a(href="/new" class="btn btn-primary btn-lg") + Add new message
  div 
    each message in messages
      div(class="card") 
        h2= message.user
        p= "Message: " + message.text
        p= "Created at: " + message.added

  
      
